page-contacts {

	.contacts{
		padding: 2%;
		font-size: 115%;
	}

	.avatar {
		border-radius: 50%;
	}

	.frame {
		height: 15%;
		width: 18%;
		margin: 1%;
		display: inline-block;
		text-align: center;
		overflow: scroll;

	}

}
