page-success {
	.btmIcon {
		font-size: 50px;
		padding: 0 10% 0 10%;
		padding-top: 3%;
		padding-bottom: 5%;
	}

	.topIcon {
		font-size: 200px;
		padding: 20%;

	}

	.iconLabel1 {
		display: inline-block;
		font-size: 100%;
		padding-left: 10%;
		padding-right: 14%;

	}

	.iconLabel2 {
		display: inline-block;
		font-size: 100%;
		padding-left: 19%;
		padding-right: 15%;

	}

}
